.ficheLogement {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.ficheLogement-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ficheLogement-info > div {
    display: flex;
    justify-content: space-between;
}

.ficheLogement-info-title {
    display: flex;
    flex-direction: column;
}

.ficheLogement-info-title > h1{
    color: #FF6060;
    font-weight: inherit;
    margin: inherit;
}

.ficheLogement-info-title > h2{
    color: #FF6060;
    font-weight: inherit;
    margin: inherit;
    font-size: 1em;
}

.ficheLogement-info-owner {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ficheLogement-info-owner > p {
    display: flex;
    color: #FF6060;
    text-align: end;
}

.ficheLogement-info-owner > img {
    object-fit: cover;
    border-radius: 100%;
    height: 60px;
}


.ficheLogement-info-tags {
    display: flex;
    gap: 10px;
}

.ficheLogement-info > div:nth-child(3) {
    display: flex;
    gap: 40px;
}

.ficheLogement-info > div:nth-child(3) > div {
    width: 100%;
}