.home {
    margin-bottom: 40px;
}

.home-banner {
    display: flex;
    height: 223px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.home-banner > img {
    position: absolute;
    height: 223px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter : brightness(70%);
}

.home-banner > h1 {
    display: flex;
    z-index: 2;
    margin: 0;
    color: white;
    font-weight: inherit;
}

.home-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    row-gap: 10px;
    flex-wrap: wrap;
}