@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin: 0 100px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 179px;
}